<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script lang="javascript" src="/javascripts/xlsx.full.min.js"></script>
    <script lang="javascript" src="/javascripts/FileSaver.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Shopping Cart</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg static-top bg-light navbar-light">
        
      <div class="container d-flex justify-content-center">
        <div class="row">
          <div class="col-12 d-flex justify-content-center mb-3">
            <a class="navbar-brand" href="/"
            ><img
              id="MDB-logo"
              src="images/GuntnerLogo.png"
              alt="MDB Logo"
              draggable="false"
              height="60"
            /></a>
             </div>
             <div class="col-12 d-flex justify-content-center mb-3">
             <a href="/partSearch">
             <button id="returnToSearchButton" class="btn btn-primary"><i class="bi bi-arrow-left"></i> | Back To Part Search</button>
             </a>
             </div>
          </div>
        </div>
      </div>
      </nav>

      <br>

      <div class="container">
        <div class="row">
          <div class="col">
            <div id="shoppingButton"></div>
            <div class="col-12 d-flex justify-content-center mb-3">
                <button type="button" id="shoppingListGenerator" class="btn btn-secondary">Generate Shopping List</button>
            </div>
            <div style="height: 50px;"></div>
          </div>
          <div class="col">
            <div class="col-12 d-flex justify-content-center mb-3">
              <button type="button" id="shoppingListClear" class="btn btn-danger">Clear Shopping List</button>
            </div>
          </div>
          <div class="col">
            <div class="col-12 d-flex justify-content-center mb-3">
            <button type="button" id="PDFgeneratorButton" class="btn btn-success">Generate PDF Export</button>
            </div>
          </div>
          <div id="shoppingList">
            <ol id="shoppingCartItems"></ol>
          </div>
        </div>
      </div>

      <script type="module" src="/javascripts/excelDocCreate.js"></script>
      <script type="module" src="/javascripts/shoppingCartCreate.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>