body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Button Animation */
@keyframes bounce {
    0%, 20%, 60%, 100%{
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40%{
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    80%{
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
}


#landingButton:hover {
  animation: bounce .5s;
}

.navbar-brand{
  padding-left: 16px;
}